.PriceDetails
{
    margin: 1rem 0 0;
}
.PriceDetails + hr
{
    width: 30%;
    color: #CCC;
}
.PriceDetails li
{
    position: relative;
    display: flex;
    gap: 10px;
    align-items: center;
}
.PriceDetails li span
{
    margin-left: 1rem;
}
.PriceDetails li::before
{
    content: "";
    position: absolute;
    display: block;
    width: 1rem;
    height: 1rem;
    border: 5px solid;
    border-color: transparent transparent transparent tomato;
}
.TotalPrice
{
    font-weight: 700;
    text-transform: capitalize;
    margin-bottom: 1rem;
}