.Burger
{
    grid-column: 2/4;
    justify-self: center;
    width: 600px;
    height: 500px;
    overflow: scroll;
    text-align: center;
    font-weight: 700;
    font-size: 1.4rem;
}

@media (max-width: 800px) {
    .Burger
    {
        grid-column: 1/-1;
        order: 1;
        width: 400px;
        height: 600px;
    }
}

.Control
{
    width: 600px;
    margin: auto;
    border: 2px solid #CCC;
    border-radius: 6px;
    padding: 6px;
}