.Burger
{
    width: 80%;
    height: 250px;
    overflow: scroll;
    margin: 10rem auto;
    text-align: center;
    font-weight: 700;
    font-size: 1.4rem;
}

@media (max-width: 600px) and (max-height: 400px)
{
    .Burger
    {
        width: 400px;
        height: 400px;
    }

}

@media (min-width: 601px) and (min-height: 401px)
{
    .Burger
    {
        width: 500px;
        height: 400px;
    }
}

@media (min-width: 800px) and (min-height: 700px)
{
    .Burger
    {
        width: 600px;
        height: 500px;
    }
}

.Control
{
    width: 600px;
    margin: auto;
    border: 2px solid #CCC;
    border-radius: 6px;
    padding: 6px;
}