.NavigationList
{
    width: 100%;
    margin-top: 3.2rem;
}
@media (min-width: 590px)
{
    .NavigationList
    {
        display: flex;
        align-items: center;
        height: 100%;
        margin: 0;
    }
}