.Orders
{
    width: 80%;
    margin: auto;
}
.EmptyOrders
{
    font-size: 2.5rem;
    color: #e39e4a;
    font-weight: 700;
    text-transform: capitalize;
    width: fit-content;
    margin: auto;
}