.Input
{
    width: 100%;
    padding: 10px;
}

.Label
{
    font-weight: 700;
    display: block;
    margin: 0.5rem;
    font-size: 1.2rem;
    width: fit-content;
    text-transform: uppercase;
}

.InputElement
{
    outline: none;
    border: 1px solid #CCC;
    background-color: #FFF;
    padding: 6px 10px;
    display: block;
    width: 100%;
    font-size: 1.6rem;
}

.InputElement:focus
{
    outline: none;
    background-color: #DDD;
    color: #333;
}
.InValid
{
    background-color: #eeb5af;
    border: 1px solid #f63030;
}
.InvalidMessage
{
    color: #d76f62;
    font-weight: 700;
    font-size: 1.3rem;
    width: fit-content;
    text-transform: capitalize;
}