@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
html
{
  font-size: 10px;
  box-sizing: border-box;
}

*,*::before,*::after{
  margin: 0;
  padding: 0;
  box-sizing: inherit
}

ul,ol
{
  list-style: none
}

a{
  text-decoration : none
}
